
<h3><%= @article.title %></h3>
<h5>By User @ <%= @article.created_at %></h5>
<p>
  <%= @article.text %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> | 
<%= link_to 'Delete', article_path(@article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %><br>
<%= link_to 'Back', articles_path %>
